{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incentives</title>

    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'incentives.css' %}">
  <link href="{% static 'navbar.css' %}" rel="stylesheet">

</head>
<body>
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <img src="{% static 'assets/img/logo.png' %}" style="width: 8em" alt="" />
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:home-about' %}">About</a></li>
            <li><a class="nav-link scrollto" href="{% url 'actionplan:mentor-view' %}">Mentorship</a></li>
          <li><a class="nav-link scrollto active" href="{% url 'actionplan:sectors' %}">Sectors</a></li>
          <li><a class="nav-link scrollto " href="{% url 'actionplan:incentives' %}">Incentives</a></li>
            <li><a class="nav-link scrollto " href="{% url 'actionplan:structure' %}">Structure</a></li>

          <li><a class="nav-link scrollto" href="{% url 'actionplan:partners' %}">Partners</a></li>
           <li><a class="nav-link scrollto" href="{% url 'actionplan:home-contact-us' %}">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>


  <div class="content">
    <p class="description"></p>
      </p><a class="card" href="#!">
      <div class="front" style="background-image: url(../static/incentivesImg/upscale-bootcamp.png)">
        <p>UPSCALE bootcamp</p>
      </div>
      <div class="back">
        <div>
          <p>An opportunity to get  advanced entrepreneurship bootcamp to help scaleup your startup.</p>
        
        </div>
      </div></a><a class="card" href="#!">
      <div class="front" style="background-image: url(../static/incentivesImg/entrepreneurship-bootcamp.png)">
        <p>Entrepreneurship bootcamp</p>
      </div>
      <div class="back">
        <div>
          <p>A comprehensive bootcamp by Casi Global to guide you through your startup journey
          </p>

        </div>
      </div></a><a class="card" href="#!">
      <div class="front" style="background-image: url(../static/incentivesImg/pre-incubation.png)">
        <p>Pre-incubation</p>
      </div>
      <div class="back">
        <div>
          <p style="font-size: smaller;"> TOP FINALIST TEAMS SHALL GET THE OPPORTUNITY TO GET 3 MONTHS LONG PRE INCUBATION AT TBI-BITS Pilani Hyderabad AND SUBSEQUENTLY A PITCHING OPPORTUNITY TO FURTHER AVAIL INCUBATION SUPPORT ( THE PARTICULAR TEAMS SELECTED SHALL BE AT THE DISCRETION OF TBI-BITS Pilani Hyderabad.</p>
        
        </div>
      </div></a><a class="card" href="#!">
      <div class="front" style="background-image: url(../static/incentivesImg/bonus-credits.png)">
        <p>Bonus credits</p>
      </div>
      <div class="back">
        <div>
          <p>Credits of upto 1000USD to be awarded to the top participant</p>
         
        </div>
      </div></a><a class="card" href="#!">
      <div class="front" style="background-image: url(../static/incentivesImg/ACC-PROGRAM.png)">
        <p>Accelaration program</p>
      </div>
      <div class="back">
        <div>
          <p>25% off on hyper accelerator program of StartupBay worth 1400$ to 2 of the top participants/p>
        
        </div>
      </div></a><a class="card" href="#!">
      <div class="front" style="background-image: url(../static/incentivesImg/innovation-support.png)">
        <p>Innovation support</p>
      </div>
      <div class="back">
        <div>
          <p>Top participants would be provided with UI/UX support by Avas Digitech’s Sparkinov open innovation</p>
       
        </div>
      </div></a>
      <a class="card" href="#!">
        <div class="front" style="background-image: url(../static/incentivesImg/CASH.png)">
          <p>Cash Prize</p>
        </div>
        <div class="back">
          <div>
            <p>CASH PRIZE OF INR 3 LAKHS FOR THE WINNERS OF THE COMPETITION!
              <br>Winner:1.5 Lakhs
              <br>Runner-Up:1 Lakh
              <bold>Second Runner-Up</bold>:0.5 Lakh
            </p>
          </div>
        </div></a>
      <a class="card" href="#!">
        <div class="front" style="background-image: url(../static/incentivesImg/ib.jpg)">
          <p>Mentorship program '20</p>
        </div>
        <div class="back">
          <div>
            <p>3 of the TOP TEAMS WILL receive a free mentorship session worth INR 15000 provided by Startup Xperts after the competition to continue their learning and growth</p>
      
          </div>
        </div></a>
        <a class="card" href="#!">
          <div class="front" style="background-image: url(../static/incentivesImg/network-opp.png)">
            <p>Networking opportunities</p>
          </div>
          <div class="back">
            <div>
              <p>GET An opoourtunity to network with Action plan’s excellent partner base spread across Asia, Europe and North America.
              </p>
      
            </div>
          </div></a>
          <a class="card" href="#!">
            <div class="front" style="background-image: url(../static/incentivesImg/ib.jpg)">
              <p>Expert Mentorship by iB Hub</p>
            </div>
            <div class="back">
              <div>
                <p style="font-size: smaller;">TOP 3 TEAMS WILL GET AN OPPORTUNITY TO GET EXPERT GUIDANCE THROUGH A MENTORSHIP PROGRAM BY iB HUBS AND CONTINUE TO LEARN FURTHER AFTER THE CONCLUSION OF ACTION PLAN 2021-22
                </p>
              </div>
            </div></a>
            <a class="card" href="#!">
              <div class="front" style="background-image: url(../static/incentivesImg/investment.jpg)">
                <p>Investors</p>
              </div>
              <div class="back">
                <div>
                  <p>ACTION PLAN HAS A GREAT NETWORK OF INVESTORS ACROSS INDIA. GET A CHANCE TO PITCH IN FRONT OF TOP INVESTORS OF INDIA, AN OPPORTUNITY TO INTERACT WITH THEM AND GET SEED FUNDING.
                  </p>
                </div>
              </div></a>
              <a class="card" href="#!">
                <div class="front" style="background-image:url(../static/incentivesImg/Untitled-1.jpg)">
                  <p>Media Coverage</p>
                </div>
                <div class="back">
                  <div>
                    <p>Action Plan is one of the best platforms to get your social startup featured in media. Startup with innovative ideas will get a popularity through Newspapers, Magazines, Websites, Radio, TV and Social Media.
                    </p>
                  </div>
                </div></a>
                <a class="card" href="#!">
                  <div class="front" style="background-image:url(../static/incentivesImg/binc.jpg)">
                    <p>Incubation Opportunity</p>
                  </div>
                  <div class="back">
                    <div>
                      <p>Action Plan is one of the best platforms to get your social startup featured in media. Startup with innovative ideas will get a popularity through Newspapers, Magazines, Websites, Radio, TV and Social Media.
                      </p>
                    </div>
                  </div></a>
                  <a class="card" href="#!">
                    <div class="front" style="background-image:url(../static/incentivesImg/mentors.jpg)" >
                      <p>Professional Mentorship</p>
                    </div>
                    <div class="back">
                      <div>
                        <p style="font-size: 14px;">A-PLAN HAS THE WIDE DOMAIN OF INDIA’S BEST SOCIAL INCUBATORS. PARTICIPANTS WILL GET AN OPPORTUNITY OF GETTING PRE-INCUBATION, INCUBATION, COACHING AND DEVELOPING CONNECTIONS WITH BUSINESS EXPERTS. PARTICIPANTS WILL GET AN ENVIRONMENT TO TRANSLATE KNOWLEDGE AND INNOVATION INTO THE CREATION OF SUCCESSFUL ENTREPRENEURS.
                        </p>
                      </div>
                    </div></a>
                    <a class="card" href="#!">
                      <div class="front"style="background-image:url(../static/incentivesImg/workshop.jpg)" >
                        <p>Workshops</p>
                      </div>
                      <div class="back">
                        <div>
                          <p style="font-size: 14px;">A WORKSHOP IS A PATH THAT INTRODUCES YOU TO THE EXPERIENCE OF BEING AN ENTREPRENEUR. IT PROVIDES A PLATFORM TO INTRODUCE ASPIRING INDIVIDUALS TO THE ENTREPRENEURIAL MINDSET AND DEVELOP CREATIVE PROBLEM FINDING AND SOLVING SKILLS REQUIRED IN THE FIELD OF ENTREPRENEURIAL BUSINESSES OR SOCIAL ENTERPRISES.
                          </p>
                        </div>
                      </div></a>
  </div>
        
</body>
</html>