{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mentorship | Abhyuday</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assetsm&s/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">



  <!-- Template Main CSS File -->
  <link href="{% static 'assetsm&s/css/mentorship.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <link href="{% static 'navbar.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'logos/favicon.png' %}">

</head>


<body style="background: #f9f9f9;">

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <img src="{% static 'logos/logo.png' %}" style="width: 8em" alt="" />
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:home' %}">HOME</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:home-about' %}">ABOUT</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:faq' %}">RULES</a></li>
          <li><a class="nav-link scrollto active" href="{% url 'actionplan:mentor-view' %}">MENTORSHIP</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:sectors' %}">SECTORS</a></li>
          <li><a class="nav-link scrollto " href="{% url 'actionplan:incentives' %}">INCENTIVES</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:structure' %}">STRUCTURE</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:partners' %}">SPONSORS & PARTNERS</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:home-contact-us' %}">CONTACT</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2>Mentors stand to gain the satisfaction of making a difference in a fledgling entrepreneur's life and contributing back to society. In addition, they also get to keep in touch with new technologies, people, and networks by working with the young entrepreneurs.Action plan teams come from different parts of the country and thus through this competition, mentors are able to get in touch with the local problems prevailing elsewhere in the country.</h2>
            <div class="col-sm-12">
              <h2>As a mentor, you will not only guide students in developing an action plan of a particular social problem but also you will get an exposure of many social clashes and issues happening in different localities of India. You will be mentoring around 2-3 teams working in a sector that aligns with your field of work. The interaction with the teams will be online and the time invested would be around 1 to 2 hours per week.To know more, contact us</h2>
              <div><a href="{% url 'actionplan:mentor-register' %}" class="btn-get-started scrollto">Be A Mentor - Register Now</a></div>
            </div>
          </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'assetsm&s/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

<hr style="margin: 0 auto; margin-top: 20px; width: 80%; color: #1d1d1d;">
      <div class="col-md-12" style="text-align: center; color: #1d1d1d; position: relative; padding: 20px 0 10px">
                <p> Follow Us &nbsp - &nbsp
                      <a class="contactparalinks" href="https://twitter.com/Abhyuday_IITB" style="text-decoration:none;color: #1d1d1d;"><i class="fab fa-twitter"></i></a> &nbsp
                      <a class="contactparalinks" href="https://www.instagram.com/iitbombay_abhyuday/" style="text-decoration:none;color: #1d1d1d;"><i class="fab fa-instagram"></i></a> &nbsp
                      <a class="contactparalinks" href="https://www.facebook.com/abhyuday.iitb/" style="text-decoration:none;color: #1d1d1d;"><i class="fab fa-facebook-f"></i></a> &nbsp
                      <a class="contactparalinks" href="https://www.youtube.com/c/AbhyudayIITBombay" style="text-decoration:none;color: #1d1d1d;"><i class="fab fa-youtube"></i></a> &nbsp
                      <a class="contactparalinks" href="https://www.linkedin.com/company/abhyuday-iit-bombay/" style="text-decoration:none;color: #1d1d1d;"><i class="fab fa-linkedin-in"></i></a>
                </p>

      </div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assetsm&s/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>