{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rules and FAQs | ActionPlan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assetsr/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assetsr/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assetsr/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assetsr/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assetsr/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assetsr/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assetsr/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<link href="{% static 'navbar.css' %}" rel="stylesheet">
 <link rel="icon" href="{% static 'logos/favicon.png' %}">
         <style>
            .contactparalinks:hover {
        color: #30D5C8;
    }
        </style>


</head>

<body>

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <img src="{% static 'logos/logo.png' %}" style="width: 8em" alt="" />
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:home' %}">HOME</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:home-about' %}">ABOUT</a></li>
          <li><a class="nav-link scrollto active" href="{% url 'actionplan:faq' %}">RULES</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:mentor-view' %}">MENTORSHIP</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:sectors' %}">SECTORS</a></li>
          <li><a class="nav-link scrollto " href="{% url 'actionplan:incentives' %}">INCENTIVES</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:structure' %}">STRUCTURE</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:partners' %}">SPONSORS & PARTNERS</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:home-contact-us' %}">CONTACT</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="background: #f9f9f9;">
      <div class="container">
         <div class="section-title" style="color: #444">
          <h2>Rules And Eligibility</h2>
        </div>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img src="{% static 'assetsr/img/about.jpg' %}" class="img-fluid" alt="">
              
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <ul>
              <li><i class="bi bi-check-circle"></i> There is no age restriction on any individual to participate. Anyone, from students to working professionals across the nation, can participate.
</li>
              <li><i class="bi bi-check-circle"></i> Any startup incorporated before 4 years of the conclusion i.e. before January 2017 will not be allowed to participate.</li>
              <li><i class="bi bi-check-circle"></i> Action Plan aims to promote startups that require assistance in funding, mentoring, etc. Therefore startups who have raised external funding i.e. funding from angel investors, venture capitalists, etc. cannot participate.</li>
              <li><i class="bi bi-check-circle"></i> Teams can have minimum 2 and maximum 8 members
                including Team leader.</li>
              <li><i class="bi bi-check-circle"></i> Team leader will be point of contact and his/her email address will be used for future correspondence.</li>
              <li><i class="bi bi-check-circle"></i> Team must abide by timely instructions, guidelines and ethics
                provided by Abhyuday with general business ethics.</li>
              <li><i class="bi bi-check-circle"></i> The plan should solve a critical social problem in
                an innovative as well as transformational manner and should have
                some quantifiable social return.</li>

            </ul>
             
          </div>
        </div>

      </div>
         <div class="col-md-12" style="text-align:center; color: #1d1d1d">
            <p class="fst-italic" style="padding-left: 30px;
    padding-right: 30px;">
              Note: Teams may be asked to provide proof of the above at any time
          during the competition cycle and in the eventuality of wrong
          details/information your entry shall be disqualified. By registering
          for Action plan, Abhyuday expressly disclaims any obligation or
          undertaking to update or revise any forward-looking statements,
          targets, estimates or any related information contained in this
          concept note to reflect any change in events, conditions, assumptions
          or circumstances on which any such statements are based unless so
          required by applicable law. Furthermore, by participating in Action
          Plan, each participating team and all of its team members agree to
          allow Abhyuday, IIT Bombay to use their names, images and information
          regarding the team's action plan, any other material forwarded as part
          of their submission, and prize information in publicity and marketing
          for the same.
            </p>
                  </div>
    </section><!-- End About Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq" style="padding-bottom: 2px;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
            <p></p>
        </div>

        <div class="faq-list">
          <ul style="color: #1d1d1d">
            <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1"> WHO CAN PARTICIPATE IN ACTION PLAN COMPETITION?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Anyone, from students to working professionals across the
                    nation, can participate. For more information refer Rules
                    and Guidelines in Competition Manual.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">I WANT TO PARTICIPATE IN ACTION PLAN. WHAT SHOULD I DO? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                    Step 1 - Register for Action Plan.</p>
                  <p>
                    Step 2 - You will have to provide Team leader's details, Team
                    Members' details, postal and other details as required. You
                    will receive a confirmation mail with your login credentials.
                  </p>
                  <p>
                    Step 3 - After getting login credentials, you can proceed for
                    submission.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed"> WHAT IS REGISTRATION/PARTICIPATION FEE FOR ACTION PLAN? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  There is NO registration/participation fee.
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">WHAT IS THE LAST DATE FOR REGISTRATION? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The last date for registration is 26th October 2021.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">CAN I SUBMIT ADDITIONAL DOCUMENTS TOO?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, you can submit extra document along with your playbook.
                </p>
              </div>
            </li>
              
                <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">HOW CAN I CONFIRM THAT I HAVE SUBMITTED THE PLAYBOOK?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                <p>
                    After submitting your entry, you will see a page confirming
                    the receipt of your playbook along with a confirmation mail.
                </p>
              </div>
            </li>
                <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">CAN I CHANGE MY TEAM LATER?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
                <p>
                    Yes, you can change your team info and other registration
                    details later on the website. You can even add a
                    team member or drop someone. However, you cannot change the
                    details of the Team Leader later.
                </p>
              </div>
            </li>
                <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">WHAT SHOULD BE THE SIZE OF MY TEAM?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
                <p>
            Your team can consist of 2-8 members.
                </p>
              </div>
            </li>
              
                <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="collapsed"> CAN A TEAM CONSISTS PEOPLE FROM DIFFERENT COLLEGES?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
                <p>
                Yes, teams can consist of individuals from different
                    colleges.
                </p>
              </div>
            </li>
                <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-10" class="collapsed">DO I COMPULSORILY NEED TO HAVE A TEAM?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-10" class="collapse" data-bs-parent=".faq-list">
                <p>
                    Yes, it's compulsory to have a team. It's very difficult for
                    individuals to compete.
                </p>
              </div>
            </li>
                <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-11" class="collapsed"> DOES MY ACTION PLAN HAVE TO BE TECHNOLOGY RELATED?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-11" class="collapse" data-bs-parent=".faq-list">
                <p>
                    No, we encourage all entries that can be developed into an
                    Action plan. It must fit into model of Activism, Not for
                    profit (NGO) or Social entrepreneurship.
                </p>
              </div>
            </li>
                <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-12" class="collapsed">HOW DOES THE MENTORING PROGRAM WORK?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-12" class="collapse" data-bs-parent=".faq-list">
                <p>
                Mentors are experienced sector-specific experts who provide
                    assistance and guidance to the participants. They will offer
                    suggestions and feedbacks to help participants develop and
                    refine their model. Participants are not required to have a
                    mentor, although teams are strongly encouraged to take
                    advantage of this opportunity. <br>NOTE:- Mentors are there to
                    guide you not to give you solutions of your problems.
                </p>
              </div>
            </li>


              
          </ul>

        </div>


      </div>

                  <hr style="margin: 0 auto; margin-top: 20px; width: 80%; color: #fff;">
      <div class="col-md-12" style="text-align: center; color: #fff; position: relative; padding: 20px 0 10px">
                <p> Contact Us &nbsp - &nbsp
                      <a class="contactparalinks" href="https://twitter.com/Abhyuday_IITB" style="text-decoration:none;color: #fff;"><i class="fab fa-twitter"></i></a> &nbsp
                      <a class="contactparalinks" href="https://www.instagram.com/iitbombay_abhyuday/" style="text-decoration:none;color: #fff;"><i class="fab fa-instagram"></i></a> &nbsp
                      <a class="contactparalinks" href="https://www.facebook.com/abhyuday.iitb/" style="text-decoration:none;color: #fff;"><i class="fab fa-facebook-f"></i></a> &nbsp
                      <a class="contactparalinks" href="https://www.youtube.com/c/AbhyudayIITBombay" style="text-decoration:none;color: #fff;"><i class="fab fa-youtube"></i></a> &nbsp
                      <a class="contactparalinks" href="https://www.linkedin.com/company/abhyuday-iit-bombay/" style="text-decoration:none;color: #fff;"><i class="fab fa-linkedin-in"></i></a>
                </p>

      </div>
    </section><!-- End Frequently Asked Questions Section -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center" style="border-radius: 100%; background: #fff"><i style="color: #1d1d1d;" class="bi bi-arrow-up-short"></i></a>

    
  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="{% static 'assetsr/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assetsr/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assetsr/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assetsr/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assetsr/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assetsr/js/main.js' %}"></script>

</body>

</html>