{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Structure | Abhyuday</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assetsm&s/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">



  <!-- Template Main CSS File -->
  <link href="{% static 'assetsm&s/css/structure.css' %}" rel="stylesheet">
    <link href="{% static 'navbar.css' %}" rel="stylesheet">
      <link rel="icon" href="{% static 'logos/favicon.png' %}">

</head>

<body>
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <img src="{% static 'assets/img/logo.png' %}" style="width: 8em" alt="" />
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:home' %}">HOME</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:home-about' %}">ABOUT</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:faq' %}">RULES</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:mentor-view' %}">MENTORSHIPS</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:sectors' %}">SECTORS</a></li>
          <li><a class="nav-link scrollto " href="{% url 'actionplan:incentives' %}">INCENTIVES</a></li>
          <li><a class="nav-link scrollto active" href="{% url 'actionplan:structure' %}">STRUCTURE</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:partners' %}">SPONSORS</a></li>
          <li><a class="nav-link scrollto" href="{% url 'actionplan:home-contact-us' %}">CONTACT</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>

    <div style="height: 2px; background-color: black; text-align: center; font-size: 52px;
    font-weight: 700;
    line-height: 56px;
    color: #0f394c;
    text-transform: uppercase; 
    text-align:center; margin-top: 2rem; margin-bottom: 2rem;
    ">
        <span style="background-color: #f9f9f9; position: relative; top: -0.5em;">
            &nbsp; STRUCTURE &nbsp;
        </span>
      </div>
    
    <div class="entries">
        <div class="entry">
          <div class="title big">26|09</div>
          <div class="body">
            <p>ActionPlan Launch</p>
          </div>
        </div>
        <div class="entry">
          <div class="title">29|09 - 24|10</div>
          <div class="body">
            <p>Entrepreneurship workshops</p>
          </div>
        </div>
        <div class="entry">
          <div class="title big">26|10</div>
          <div class="body">
            <p>Registration deadline</p>
          </div>
        </div>
        <div class="entry">
          <div class="title">6|11</div>
          <div class="body">
            <p>Questionnaire submission deadline</p>
          </div>
        </div>
        <div class="entry">
          <div class="title">20|11</div>
          <div class="body">
            <p>First round conclusion &</p>
                <p>Result Announcement</p>
          </div>
        </div>
        <div class="entry">
          <div class="title">22|11 - 29|11</div>
          <div class="body">
            <p>Mentor Allocation</p>
          </div>
        </div>
        <div class="entry">
          <div class="title big">22|11 - 7|12</div>
          <div class="body">
            <p>Advanced Entrepreneurship Bootcamp</p>
          </div>
        </div>
        <div class="entry">
            <div class="title big">29|11 - 16|1</div>
            <div class="body">
              <p>Mentoring Period</p>
            </div>
          </div>
          <div class="entry">
            <div class="title">19|12</div>
            <div class="body">
              <p>Solution handbook deadline</p>
            </div>
          </div>
          <div class="entry">
            <div class="title big">30|12</div>
            <div class="body">
              <p>Round 2 result</p>
            </div>
          </div>
          <div class="entry">
            <div class="title">15th Jan 2022</div>
            <div class="body">
              <p>Final Action plan Submission</p>
            </div>
          </div>
          <div class="entry">
            <div class="title">16th Jan 2022</div>
            <div class="body">
              <p>Mentor mentee meetup</p>
            </div>
          </div>
          <div class="entry">
            <div class="title big">Social Fest 2021-22</div>
            <div class="body">
              <p>Final Pitching round</p>
            </div>
          </div>
          <div class="entry">
            <div class="title">TBD</div>
            <div class="body">
              <p>Final Result</p>
            </div>
          </div>
    </div>

  
  <!-- Vendor JS Files -->
  <script src="{% static 'assetsm&s/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
</body>

</html>